html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

body > div {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.light {
    --logo-color: #DA693F;
    --text-color: #000000;
    --bg-gradient-start-color: #f5f4f2;
    --bg-gradient-end-color: #a1acce;
    --nav-hover-color: #383862;
    --nav-hover-bg-color: #a1acce;
    --section-label-bg-color: #383862;
    --section-label-text-color: #ffffff; 
    --button-bg-color: #F68E62;
    --button-text-color: #000000;
    --button-hover-bg-color: #a1acce;
    --download-bg-color: #386238;
    --download-text-color: #ffffff;
    --footer-bg-color: #383862;
    --footer-text-color: #f5f4f2;
}

.dark {
    --logo-color: #DA693F;
    --text-color: #ffffff;
    --bg-gradient-start-color: #2F2F2D;
    --bg-gradient-end-color: #383862;
    --nav-hover-color: #383862;
    --nav-hover-bg-color: #f5f4f2;
    --section-label-bg-color: #a1acce;
    --section-label-text-color: #000000; 
    --button-bg-color: #F68E62;
    --button-text-color: #000000;
    --button-hover-bg-color: #f5f4f2;
    --download-bg-color: #386238;
    --download-text-color: #ffffff;
    --footer-bg-color: #a1acce;
    --footer-text-color: #2f2f2d;
}